.clerfix{
    margin-bottom: 10px;
}
.MovieAddImage{
    width: 20%;
    height: 20%;
}

.validate{
    color : red;
}

form .validateText{
    background-color: #ffd4d4 !important;
}

.justify-content-start .button{
    width: 48%;
}

.cards .baskurt{
    height: 50%;
}